# Node.js dependencies
node_modules/

# Production build output
dist/

# Local Environment variables
.env
.env.local
.env.development
.env.production
*.env

# Vite cache
.vite/
*.tsbuildinfo

# OS & Logs
.DS_Store
*.log
