PORT=5000
NODE_ENV=production
DATABASE_URL="postgresql://custormerp_user:password@dpg-d9fkel5aeets73c8lurg-a:5432/custormerp?schema=public"
JWT_ACCESS_SECRET="your-production-jwt-access-secret"
JWT_REFRESH_SECRET="your-production-jwt-refresh-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="https://your-frontend-domain.vercel.app"
